.timeline-years {
	display: flex;
	justify-content: space-between;
	width: 300px;
	font-size: 36px;
	font-weight: 700;

	&__start,
	&__end {
		opacity: 0;
		transform: translateY(20px);
	}
}

@media (max-width: 768px) {
	.timeline-years {
		width: 250px;
		font-size: 28px;
	}
}

@media (max-width: 480px) {
	.timeline-years {
		width: 200px;
		font-size: 24px;
	}
}
