.timeline-years {
	display: flex;
	justify-content: center;
	gap: 8%;
	font-size: 200px;
	font-weight: 700;
	line-height: 160px;

	&__start {
		color: rgb(93, 95, 239);
	}

	&__end {
		color: rgb(239, 93, 168);
	}
}